
@font-face{
   src: url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
font-family: 'Montserrat', Arial, sans-serif;
}

body {
  background: #F2F3EB;
  display: flex;
  justify-content: center;
}


h1 {
  color: #474544;
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
}

.underline {
  border-bottom: solid 2px #474544;
}


input{
  border-bottom: solid 2px #474544;
  color: #474544;
  padding-bottom: 16px;
  
}
textarea {
  height: 150px;
  resize: none;
  margin-bottom: 25px;
}

select {
  color: #474544;
  padding-bottom: 16px;
  appearance: none;
  background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png');
  background-repeat: no-repeat, repeat;
  background-position: right
}

.inputs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.inputs input {
  width: 40%;
}

.input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #474544;
  font-size: 12pt;
width: 90%;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 680px;
  height: 680px;
border: solid 3px #474544;
}

.button {
  position: relative;
  right: 220px;
  bottom: 25px;
  height: 60px;
  background-color: transparent;
  width: 180px;
  font-weight: bold;
  padding: 0;
}
.head {
  margin-bottom: 60px;
}

.head ::after {
  content: "";
  display: block;
  position: relative;
  top: 0px;
  width: 20%;
  left: 40%;
  border-top: 2px solid #474544;

}

.head div {
  letter-spacing: 6px;
}

.head div ::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: relative;
  left: 440px;
  top: -25px;
  border-radius: 50%;
  background-color: #474544; 
}
.head div ::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: relative;
  left: -30px;
  top: 25px;
  border-radius: 50%;
  background-color: #474544; 
}